
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% @vans.each do |van| %>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
          <div>
          <h2><%= link_to van.title, van_path(van) %></h2>
          <p><%= van.description %></p>
          </div>
           <h2 class="card-trip-pricing">$<%= van.price %></h2>
            <%= image_tag "profile.png", class: "card-trip-user avatar-bordered" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <div id="container-map">

      </div>
    </div>

  </div>
</div>


