// Specific CSS for your home-page
.btn {
 margin: 5px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat';
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: rgba(222, 222, 222, 0.3);
  color: #fff;
  min-height: 100vh;
  position: relative;
  padding-top: 86px;
}

.showcase:before {
  content: '';
  background: url('https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row{
  margin: 20px;
  padding: 20px;
}
