.card-trip {
  overflow: hidden;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  height: auto;
}

.card-trip > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-trip h5 {
  font-size: 12px;
  margin: 0;
  color: white;
}

.card-trip p {
  font-size: 16px;
  opacity: .9;
  margin: 0;
}

.card-trip a {
  font-size: 24px;
  opacity: 1;
  margin: 0;
  color: #f05454;
}

.card-trip .card-trip-infos {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.container-show{
  display:flex;
  background-color: rgba(222, 222, 222, 0.7);
  border: 1px solid black;
  border-radius: rounded;
  padding: 20px;
  margin: 20px;
}

.container-show h1{
  font-size: 25px;
}

.buttons {
  display: flex
}

.col-sm-6 {
  overflow: scroll;
  height: 600px;
}






