.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.background-image-van {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.background-image-van:hover {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
